/* Image from https://www.behance.net/gallery/76726697/ColorLimitedISO */
html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  margin-top: 50px !important;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  width: 800px;
  height: 450px;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 80%;
  height: 50%;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 5px !important;
  background: #fd3838 !important;
  transition: all 0.3s !important;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFEFBA 50%, #FFFFFF 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}